<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title layout:title-pattern="$LAYOUT_TITLE-$CONTENT_TITLE">관리자</title>

    <!-- 공통 css, js -->
    <script th:src="@{https://code.jquery.com/jquery-2.2.4.min.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/menu.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">

    <th:block layout:fragment="css"></th:block>

    <th:block layout:fragment="script"></th:block>
</head>

<body>
<!--    <header th:replace="layout/fragments/admin-header :: admin-header"></header>-->

    <div th:replace="layout/sidebar :: sidebar"></div>

    <div layout:fragment="content" class="admin-content"></div>

<!--    <footer th:replace="layout/fragments/footer :: footer"></footer>-->
</body>
</html>
