<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/common}">

<head>
    <title>대시보드</title>

    <!-- Page css -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/notice.css}">
    </th:block>

    <!-- Page js -->
    <th:block layout:fragment="script">

        <script th:src="@{/js/notice/notice.js}"></script>
    </th:block>

</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/admin/notice/save}" id="notice_form" method="post">
            <div class="float title_float">
                <div class="float_left">
                    <h1><a th:href="@{/admin/notice/list}">공지사항 &#62;</a></h1> <br>
                    <b th:text="|작성자 ${notice.author}|" style="padding-bottom: 5px;"></b> <br>
                    <span th:text="|${notice.date} / 조회 ${notice.hit}|" style="color: #979797"></span>
                </div>
                <div class="float_right">
                    <div class="search_box">
                        <a th:href="@{/admin/notice/list}" class="content_top_btn">목록</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/notice/modify/{id}(id=${notice.noticeId})}" class="content_top_btn" >수정</a>
                    </div>
                </div>
            </div>

            <table>
                <tr>
                    <th>제목</th>
                    <td>
                        <strong th:if="${notice.important == 'Y'}" th:text="'공지'" ></strong>
                        <input type="text" id="title" name="title" title="제목" data-type="required" th:value="${notice.title}"
                               style="width: 70%" readonly/>
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td>
                        <span th:utext="${notice.content}"></span>
                    </td>
                </tr>
                <tr>
                    <th>댓글</th>
                    <td>
                        <form th:action="@{/admin/motice/comment}" method="post">
                            <input type="hidden" id="noticeId" name="noticeId" th:value="${notice.noticeId}" style="width: 70%">
                            <input type="text" id="comment" name="comment" title="댓글">
                            <button type="button" onclick="ACTIONS.COMMENT">입력</button>
                        </form>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
