<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/common}">

<head>
    <title>대시보드</title>

    <!-- Page css -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/notice.css}">
    </th:block>

    <!-- Page js -->
    <th:block layout:fragment="script">

        <script th:src="@{/js/notice/notice.js}"></script>
    </th:block>

</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/admin/notice/save}" id="notice_form" method="post">
            <div class="float title_float">
                <div class="float_left">
                    <h1><a th:href="@{/admin/notice/list}">공지사항 &#62;</a></h1> <br>
                    <b th:text="|작성자 ${notice.author}|" style="padding-bottom: 5px;"></b> <br>
                    <span th:text="|${notice.date} / 조회 ${notice.hit} / 댓글 ${notice.childList.size()}|" style="color: #979797"></span>
                    <input type="hidden" id="noticeId" th:value="${notice.noticeId}">
                </div>
                <div class="float_right">
                    <div class="search_box">
                        <a th:href="@{/admin/notice/list}" class="content_top_btn">목록</a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/notice/modify/{id}(id=${notice.noticeId})}" class="content_top_btn" >수정</a>
                        <button type="button" class="choice_delete" th:onclick="ACTIONS.DELETE()">삭제</button>
<!--                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/notice/delete/{id}(id=${notice.noticeId})}" class="content_top_btn" >삭제</a>-->
                    </div>
                </div>
            </div>

            <table>
                <tr>
                    <th>제목</th>
                    <td>
                        <strong th:if="${notice.important == 'Y'}" th:text="'공지'" ></strong>
                        <input type="text" id="title" name="title" title="제목" data-type="required" th:value="${notice.title}"
                               style="width: 70%" readonly/>
                    </td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td>
                        <span th:utext="${notice.content}"></span>
                    </td>
                </tr>
                <tr>
                    <th th:text="|댓글 ${notice.childList.size()}개|">댓글</th>
                    <td>
                        <div>
                            <textarea name="content" id="content" rows="1" placeholder="댓글을 입력해주세요."></textarea>
                            <button type="button" onclick="ACTIONS.COMMENT()" class="float_right" style="display:block;">입력</button>
                            <div style="margin-bottom: 10px"></div>
                        </div>

                        <div style="height: 10px"></div>
                        <div id="notice-comment-fragment" th:each="comment : ${notice.childList}"
                             style="display: block; padding: 10px 30px 0 30px; text-align: center">
                                    <a th:href="@{#}" th:text="${comment.author}" class="float_left" style="padding-right: 10px"></a>
                                    <span th:text="${comment.content}" style="display: inline-block; width: 900px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap" ></span>
                                    <span th:text="${#temporals.format(comment.date, 'yyyy.MM.dd')}" style="color: #979797"></span>
                                <div class="float_right">
                                    <button type="button" class="modify_btn" th:id="comment-modify_+${comment.id}" onclick="ACTIONS.COMMENT_MODOIFY(this)" th:if="${#authentication.name == comment.author}" >수정</button>
                                    <a class="delete_btn" th:href="@{/admin/notice/comment/delete/{noticeId}/{id}(noticeId=${notice.noticeId}, id=${comment.id})}" th:if="${#authentication.name == comment.author}" >삭제</a>
<!--                                    <button type="button" class="delete_btn" th:id="comment-delete_+${comment.id}" onclick="ACTIONS.COMMENT_DELETE(this)" th:if="${#authentication.name == comment.author}" >삭제</button>-->
                                </div>
                        </div>

                        <div style="margin-bottom: 35px"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
