<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/common}">

<head>
    <title>공지사항</title>

    <!-- Page css -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/notice.css}">
    </th:block>

    <!-- Page js -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">

        </script>

        <script th:src="@{/js/notice/notice.js}"></script>
    </th:block>

</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="float title_float">
            <div class="float_left">
                <h1>공지사항 목록</h1>
            </div>
            <div class="float_right">
                <div class="search_box">
                    <form th:action="@{/notice/list}" method="get">
                        <input type="text" name="filter" th:id="filter" placeholder="검색어를 입력하세요."
                               onkeypress="javascript:if (event.keyCode == 13) {this.submit()}" autocomplete="off">
                        <button type="submit">검색</button>

                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/notice/regist}" class="content_top_btn" >공지사항 등록</a>
                    </form>
                </div>
            </div>
        </div>

        <div id="notice-list-fragment" th:fragment="notice-list-fragment">
            <table class="notice_table">
                <colspan>
                    <col width="5%">
                    <col width="10%">
                    <col width="50%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                </colspan>
                <tr>
                    <th>번호</th>
                    <th> </th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회</th>
                    <th>작성일</th>
                </tr>

                <tr th:if="${contentSize == 0}">
                    <td colspan="8" class="none_data_table01">
                        조회된 공지사항이 없습니다.
                    </td>
                </tr>

                <tr th:each="notice : ${notices}">
                    <td th:text="${notices.getTotalElements() - (notices.number * notices.size + noticeStat.index)}"
                        th:style="${notice.important == 'Y'} ? 'background-color: yellow' : 'background-color: none'"></td>

                    <td th:if="${notice.important == 'Y'}" th:class="'ntc_'+${notice.noticeId}"
                        th:style="${notice.important == 'Y'} ? 'background-color: yellow' : 'background-color: none'">
                        <strong th:if="${notice.important == 'Y'}" th:text="'공지'" ></strong>
                    </td>

                    <td th:if="${notice.important == 'N'}" th:text="' '"
                        th:style="${notice.important == 'Y'} ? 'background-color: yellow' : 'background-color: none'"></td>

                    <td th:class="'ntc_'+${notice.noticeId}"
                        th:style="${notice.important == 'Y'} ? 'background-color: yellow' : 'background-color: none'"
                        th:onmouseover="ACTIONS.ONMOUSEOVER([[${notice.noticeId}]])"
                        th:onmouseout="ACTIONS.ONMOUSEOUT([[${notice.noticeId}]])">
                        <a th:href="@{/admin/notice/detail/{id}(id=${notice.noticeId})}" th:text="${notice.title}"></a>
                    </td>

                    <td th:text="${notice.author}"
                        th:style="${notice.important == 'Y'} ? 'background-color: yellow' : 'background-color: none'"></td>

                    <td th:text="${notice.hit}"
                        th:style="${notice.important == 'Y'} ? 'background-color: yellow' : 'background-color: none'"></td>

                    <td th:text="${notice.date}"
                        th:style="${notice.important == 'Y'} ? 'background-color: yellow' : 'background-color: none'"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
