<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/common}">

<head>
    <title>공지사항</title>

    <!-- Page css -->
    <th:block layout:fragment="css">
    </th:block>

    <!-- Page js -->
    <th:block layout:fragment="script">
    </th:block>

</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="float title_float">
            <div class="float_left">
                <h1>공지사항 목록</h1>
            </div>
            <div class="float_right">
                <div class="search_box">
                    <form th:action="@{/notice/list}" method="get">
                        <input type="text" name="filter" th:id="filter" placeholder="검색어를 입력하세요."
                               onkeypress="javascript:if (event.keyCode == 13) {this.submit()}" autocomplete="off">
                        <button type="submit">검색</button>

                        <a th:href="@{/notice/regist}" class="content_top_btn">공지사항 등록</a>
                    </form>
                </div>
            </div>
        </div>
        <!--<div id="notice-list" th:fragment="notice-list">
            <table>
                <colgroup>
                    <col width="3%">
                    <col width="5%">
                    <col width="62%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll"/>
                        <label for="selectAll"></label>
                    </th>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
                <tr th:each="notice : ${notices}">

                </tr>
            </table>
        </div>-->
    </div>
</div>
</body>
</html>
