.mbti-free .float .float_left a {
    color:#212121;
}

.mbti-free .float .float_left a:hover {
    color:#de284a;
}

.mbti-qna .float .float_left a {
    color:#212121;
}

.mbti-qna .float .float_left a:hover {
    color:#de284a;
}

.mbti-community .float .float_left a {
    color:#212121;
}

.mbti-community .float .float_left a:hover {
    color:#de284a;
}