<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <title>대시보드</title>


    <!-- Page css -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/layout.css}">
        <link rel="stylesheet" th:href="@{/css/normalize.css}">
    </th:block>

    <!-- Page js -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/user/user.js}"></script>
    </th:block>

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h1 style="padding-bottom:0"><img th:src="@{/image/member.svg}">회원등록</h1>
        <form id="form" th:action="@{/registUser}" method="post">
            <table class="user_regist_table">
                <colgroup>
                    <col width="10%">
                    <col width="23.3%">
                    <col width="10%">
                    <col width="23.3%">
                </colgroup>
                <tr>
                    <th>MBTI</th>
                    <td>
                        <select name="mbti" id="mbti">
                            <option value="none">=== 선택 ===</option>
                            <option value="ISTJ">ISTJ</option>
                            <option value="ISFJ">ISFJ</option>
                            <option value="INFJ">INFJ</option>
                            <option value="INTJ">INTJ</option>
                            <option value="ISTP">ISTP</option>
                            <option value="ISFP">ISFP</option>
                            <option value="INFP">INFP</option>
                            <option value="INTP">INTP</option>
                            <option value="ESTP">ESTP</option>
                            <option value="ESFP">ESFP</option>
                            <option value="ENFP">ENFP</option>
                            <option value="ENTP">ENTP</option>
                            <option value="ESTJ">ESTJ</option>
                            <option value="ESFJ">ESFJ</option>
                            <option value="ENFJ">ENFJ</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input type="hidden" name="auth" value="ROLE_USER"/>
                        <input type="email" name="email" id="email" data-type="required" placeholder="예) abc@abc.com"/>
                        <button  type="button" id="valid_email" onclick="validate_email()" value="N" class="content_top_btn01">
                            중복확인
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td>
                        <input type="password" title="비밀번호" id="password" name="password" data-type="required" placeholder="영문, 숫자 혼합하여 6~20자리 이내" />
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td>
                        <input type="password" id="passwordCheck"/>
                    </td>
                </tr>
            </table>
            <div class="float">
                <div class="float_left">
                    <a th:href="@{/login}" class="content_top_btn" style="display:block;">로그인 페이지</a>
                </div>
                <div style="text-align: center">
                    <button onclick="save()" class="complete_btn" style="padding:0.9em 1em">등록</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>